{% extends "base.html" %}

{% block head %}

<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

<title>DriverLog | vendor drivers for OpenStack {% if page_title %}| {{ page_title }} {% endif %}</title>

{% if not page_title %}
<meta name="description" content="Vendor drivers for OpenStack"/>
{% else %}
<meta name="description" content="vendor drivers for OpenStack | {{ page_title }}"/>
{% endif %}
<meta name="keywords" content="openstack, driverlog, vendor, driver, cinder, neutron"/>

<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption&subset=latin,cyrillic' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css' />

<link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png"/>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/jquery.dataTables.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/ui-lightness/jquery-ui-1.10.4.custom.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/select2.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

<script type="text/javascript" src="{{ url_for('.static', filename='js/jquery-1.9.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-1.10.4.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.tmpl.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/driverlog-ui.js') }}"></script>

{% block scripts %}{% endblock %}

{% endblock %}

{% block body %}

<div class="page">
    <div class="aheader">
        <div style="float: right; margin-top: 10px; margin-right: 20px;">
            <a href="https://wiki.openstack.org/wiki/DriverLog">About</a>
        </div>
        <div id="analytics_header">
            <span id="logo"><a href="{{ url_for('summary') }}">DriverLog</a></span>
            <span id="slogan">| vendor drivers for OpenStack</span>
        </div>

    </div>

    <div style="margin-top: 3em;">
        {% block content %}{% endblock %}
    </div>

</div>
{% endblock %}
