{% extends "layout.html" %}
{% block content %}

<script type="text/javascript">

var base_url = "";

$(document).ready(function() {
    $("#data_table").dataTable({
        "aLengthMenu": [
            [10, 25, 50, -1],
            [10, 25, 50, "All"]
        ],
        "iDisplayLength": -1,
        "aaSorting": [
            [ 0, "asc" ],
            [ 1, "asc"]
        ]
    });
    $(document).tooltip();

    $("#project_selector").select2({
        allowClear: true,
        placeholder: "Select Project",
        ajax: {
            url: make_uri(base_url + "/api/1.0/list/project_ids"),
            dataType: 'jsonp',
            data: function (term, page) {
                return {
                    query: term
                };
            },
            results: function (data, page) {
                return {results: data["project_ids"]};
            }
        },
        initSelection: function (element, callback) {
            var id = $(element).val();
            if (id !== "") {
                $.ajax(make_uri(base_url + "/api/1.0/list/project_ids/" + id), {
                    dataType: "jsonp"
                }).done(function (data) {
                        callback(data["project_id"]);
                    });
            }
        }
    });

    $('#project_selector')
        .on("change", function (e) {
            reload();
        });

    $("#vendor_selector").select2({
        allowClear: true,
        placeholder: "Select Vendor",
        ajax: {
            url: make_uri(base_url + "/api/1.0/list/vendors"),
            dataType: 'jsonp',
            data: function (term, page) {
                return {
                    query: term
                };
            },
            results: function (data, page) {
                return {results: data["vendors"]};
            }
        },
        initSelection: function (element, callback) {
            var id = $(element).val();
            if (id !== "") {
                $.ajax(make_uri(base_url + "/api/1.0/list/vendors/" + id), {
                    dataType: "jsonp"
                }).done(function (data) {
                        callback(data["vendor"]);
                    });
            }
        }
    });

    $('#vendor_selector')
        .on("change", function (e) {
            reload();
        });


    $("#release_selector").select2({
        allowClear: true,
        placeholder: "Select Release",
        ajax: {
            url: make_uri(base_url + "/api/1.0/list/releases"),
            dataType: 'jsonp',
            data: function (term, page) {
                return {
                    query: term
                };
            },
            results: function (data, page) {
                return {results: data["releases"]};
            }
        },
        initSelection: function (element, callback) {
            var id = $(element).val();
            if (id !== "") {
                $.ajax(make_uri(base_url + "/api/1.0/list/releases/" + id), {
                    dataType: "jsonp"
                }).done(function (data) {
                        callback(data["release"]);
                    });
            }
        }
    });

    $('#release_selector')
        .on("change", function (e) {
            reload();
        });

});
</script>

    <div class="drops">

        <div class="drop">
            <label for="release_selector"
                   title="OpenStack Release">Release</label>
            <input type="hidden" id="release_selector" style="width:240px"
                    {% if release_id %}
                   value="{{ release_id }}"
                   {% endif %}/>
        </div>

        <div class="drop">
            <label for="project_selector"
                   title="OpenStack Project">Project</label>
            <input type="hidden" id="project_selector" style="width:240px"
                    {% if project_id %}
                   value="{{ project_id }}"
                   {% endif %}/>
        </div>

        <div class="drop">
            <label for="vendor_selector"
                   title="Vendor">Vendor</label>
            <input type="hidden" id="vendor_selector" style="width:240px"
                    {% if vendor %}
                   value="{{ vendor }}"
                   {% endif %}/>
        </div>

    </div>

    <div style="margin-top: 2em;">
    <table id="data_table" class="display">
    <thead>
    <tr>
        <th>Project</th>
        <th>Vendor</th>
        <th>Driver</th>
        <th>In Trunk?</th>
        <th>CI tested?</th>
        <th>Maintainer</th>
    </tr>
    </thead>
    <tbody>
    {% for driver in drivers %}
        <tr>
            <td>{{ driver.project_name }}</td>
            <td>{{ driver.vendor }}</td>
            <td>
                <div>
                    {% if driver.wiki %}<a href="{{ driver.wiki }}" target="_blank">{% endif %}
                    <strong>{{ driver.name }}</strong>
                    {% if driver.wiki %}</a>{% endif %}
                </div>
                {% if driver.description %}
                    <div>
                        {{ driver.description }}
                    </div>
                {% endif %}
            </td>
            <td>
                <div>
                    {% for release_info in driver.releases_info %}
                        <a href="{{ release_info.wiki }}" target="_blank">{{ release_info.name }}</a>
                    {% endfor %}
                </div>
            </td>
            <td>
                <div>
                    {% if driver.os_versions_map['master'] %}
                    {% with master = driver.os_versions_map['master'] %}
                        {% if master['verification'] == 'external_ci_verification' %}
                            {% if master.review_url %}
                                <a href="{{ master.review_url }}" target="_blank" title="Click for details"><span style="color: #008000">&#x2714;</span></a>
                            {% else %}
                                <span style="color: #808080">&#x2714;</span>
                            {% endif %}
                        {% else %}
                            <span style="color: darkred">&#x2716;</span>
                        {% endif %}
                    {% endwith %}
                    {% else %}
                        <span style="color: darkred">&#x2716;</span>
                    {% endif %}
                </div>
            </td>
            <td>
                <div>
                {% if driver.maintainer %}
                    {% if driver.maintainer.email %}
                        <a href="mailto:{{ driver.maintainer.email }}">{{ driver.maintainer.name }}</a>
                    {% elif driver.maintainer.irc %}
                        <a href="irc:{{ driver.maintainer.irc }}">{{ driver.maintainer.name }}</a>
                    {% else %}
                        {{ driver.maintainer.name }}
                    {% endif %}
                {% else %}
                    <span class="not-specified">Not specified</span>
                {% endif %}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>

{% endblock %}